[Deadline]
# Days left before deadline 
DeadlineRed = 10
DeadlineYellow = 20
# Green is after DeaLineYellow ;) 

[Affichage]
# Nombre de jours en arrière pour lancer la recherce 
Historique = 10

[BOAMP]
# Liste des mots-clés (un par ligne).
# Surcharge locale possible via config.local.cfg
KEYWORDS =
	exemple mot cle 1
	exemple mot cle 2
	exemple mot cle 3

[PLACE]
# Liste des codes CPV (un par ligne ou séparés par des virgules)
# Surcharge locale possible via config.local.cfg
CPV_CODES =
	12345678
	87654321

[DCE]
# Chemin de base de stockage des DCE.
# Si chemin relatif, il est resolu par rapport au dossier du fichier config(.local).cfg.
STORAGE_PATH = dce_storage
